page-settings {
    .content{
        background-image: url("../assets/imgs/home_bg.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
    ion-header{
        border-bottom: 1px solid black;
    }
    ion-title {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 90px 1px;
        width: 100%;
        height: 100%;
        text-align: center;
        z-index: 0;
    }
    .toolbar-background{
        background:transparent; 
    }
    .toolbar-title {
        display: block;
        overflow: hidden;
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 16px !important;
        letter-spacing: 2px;
        font-weight: bold !important;
    }
    .back-button.show-back-button ,.back-button .back-button-icon{
        z-index: 1;
        margin: 0;
        padding: 0px;
    }
    .toolbar-title{
        font-size: 14px !important;
        letter-spacing: 2px;
    }

    .list-settingslist{
        margin: 0px !important;

        ion-list-header{
            margin-bottom: 0;
            background-color: #F1F1F1 !important;

            ion-label{
                margin: 0;
            }
        }
        ion-item{
            .item-inner{
                border-bottom: none !important;
            }
            .input-wrapper::after,.input-wrapper::before{
                border-right: 1px solid;
                content: '';
                display: block;
                height: 11px;
                margin-top: -9px;
                position: absolute;
                -moz-transform: rotate(135deg);
                -o-transform: rotate(135deg);
                -webkit-transform: rotate(135deg);
                transform: rotate(135deg);
                right: 10px;
                top: 50%;
                width: 0;
            }
            .input-wrapper:after {
                margin-top: -1px;
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            
            .input-wrapper:hover, .input-wrapper:focus,
            .input-wrapper:hover:before, .input-wrapper:hover:after,
            .input-wrapper:focus:before, .input-wrapper:focus:after {
                color: #000;
            }
        }
    }
}
